@import "bootstrap.less";
@import "normal.less";

/* them / coloring variables go here */

@brand-primary: rgb(242, 39, 85);
@body-bg: rgb(253,253,253);
@text-color: #333;
@brand-success: saturate(@brand-primary, 10%);
@edge-color: rgb(203, 217, 81);