<div class="page-header">
	<h1><a href="/"><%= t.company_name %></a> <small class="tagline"><%= t.tagline %></small></h1>
</div>
<% if !@messages.nil? %>
	<%= erb :"index/_message", :locals => {:message => @messages} %>
<% end %>