<% #erb :"index/_tabs" %>
<%= erb :"analytics/_main" %>

<section class="footer">
	Site designed and built by Jonathan Raiman, Mitchell Kates, and Michael Phox as part of Linked 
	Data Ventures
</section>