<% #erb :"index/_tabs" %>
<%= erb :"analytics/_main" %>

<section class="footer">
	Site designed and built by Jonathan Raiman and Mitchell Kates as part of the Linked Data Ventures class 2013
</section>