<% if !env['warden'].user %>
	<a href="/auth/etsy" class="button button-pill button-flat"><%= t.login %></a>
<% else %>
	<a href="/logout" class="button button-action button-pill button-flat"><%= t.logout %></a>
<% end %>