<div class="container container-gondola">
	<div class="page-header">
		<h1>Iguana</h1>
		<h2>The most advanced Etsy Analytics Platform</h2>
		<%= erb :"index/_login_button" %>
	</div>

	<div class="button-container">
		<a href="#" data-class="button-caution" class="button button-rounded button-caution button-pill">Art</a>
		<a href="#" data-class="button-royal" class="button button-rounded button-royal button-pill">Toys</a>
		<a href="#" data-class="button-primary" class="button button-rounded button-primary button-pill">Jewelry</a>
		<a href="#" data-class="button-highlight" class="button button-rounded button-highlight button-pill">Women</a>
		<a href="#" data-class="button-action" class="button button-rounded button-action button-pill">Vintage</a>
	</div>


	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
		<div class="item active">
		  <img src="..." alt="...">
		  <div class="carousel-caption">
			...
		  </div>
		</div>
		...
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>

	<div class="row graph-row">
	  <div class="col-md-12 col-xs-12">
	  	<h3>Sale Price Range</h3>
		<div id="graphone" class="graphcontainer"></div>
	  </div>
	</div>
	<div class="row graph-row">
	  <div class="col-md-12 col-xs-12">
	  	<h3>Views Range</h3>
		<div id="chartdiv" style="height:400px;width:100%; "></div>
	  </div>
	</div>
	
	
</div>
