<div class="container container-gondola">
	<div class="page-header">
		<h1>Iguana</h1>
		<h2>The most advanced Etsy Analytics Platform</h2>
		<%= erb :"index/_login_button" %>
	</div>

	<div class="button-container">
		<a href="#" data-class="button-caution" class="button button-rounded button-caution button-pill">Art</a>
		<a href="#" data-class="button-royal" class="button button-rounded button-royal button-pill">Home & Living</a>
		<a href="#" data-class="button-primary" class="button button-rounded button-primary button-pill">Jewelry</a>
		<a href="#" data-class="button-highlight" class="button button-rounded button-highlight button-pill">Women</a>
		<a href="#" data-class="button-action" class="button button-rounded button-action button-pill">Vintage</a>
	</div>

	<div class="row graph-row">
	  <div class="col-md-8 col-xs-12">
	  	<h3>Product Category</h3>
		<div id="graphone" class="graphcontainer"></div>
	  </div>
	  <div class="col-md-4 col-xs-12">	 
	  	<h3>Volumes</h3> 
	  	<div id="graphtwo" class="graphcontainer"></div>
	  </div>
	</div>
	
	<div class="row graph-row">
	  <div class="col-md-12 col-xs-12">
	  	<h3>Product Category</h3>
		<div id="graphthree" class="graphcontainer"></div>
	  </div>
	</div>
</div>
