<article class="row">
	<div class="col-lg-10 offset-lg-1">
		<h2><%= t.ontology %>
		<h3 id="hasMeanPrice">hasMeanPrice</h3>
		<p>
			<strong>hasMeanPrice</strong> provides the mean price observed over 30 or more listings drawn at random from <a href="http://www.etsy.com" rel="nofollow">Etsy</a> in <em>November 2013</em>.
		</p>
		<h3 id="hasVolume">hasVolume</h3>
		<p>
			<strong>hasVolume</strong> provides the proportion this product has to the whole of the 40,000+ <a href="http://www.etsy.com" rel="nofollow">Etsy</a> items drawn at random in <em>November 2013</em>.
		</p>
		<h3 id="hasMeanGross">hasMeanGross</h3>
		<p>
			<strong>hasMeanGross</strong> provides an estimate of the gross for a store on <a href="http://www.etsy.com" rel="nofollow">Etsy</a> carrying this type of item in <em>November 2013</em>.
		</p>
		<h3 id="hasMeanViews">hasMeanViews</h3>
		<p>
			<strong>hasMeanViews</strong> provides the mean observed over 30 or more listings drawn at random from <a href="http://www.etsy.com" rel="nofollow">Etsy</a> in <em>November 2013</em>.
		</p>
	</div>
</article>