<article class="row">
	<div class="col-lg-10 offset-lg-1">
		<h2><%= t.ontology %>
		<h3 id="hasMeanPrice"><a href="/ontology/hasMeanPrice">hasMeanPrice</a></h3>
		<p>
			<strong>hasMeanPrice</strong> provides the mean price observed over 30 or more listings drawn at random from <a href="http://www.etsy.com" rel="nofollow">Etsy</a> in <em>November 2013</em>.
		</p>
		<h3 id="hasVolume"><a href="/ontology/hasVolume">hasVolume</a></h3>
		<p>
			<strong>hasVolume</strong> provides the proportion this product has to the whole of the 40,000+ <a href="http://www.etsy.com" rel="nofollow">Etsy</a> items drawn at random in <em>November 2013</em>.
		</p>
		<h3 id="hasMeanGross"><a href="/ontology/hasMeanGross">hasMeanGross</a></h3>
		<p>
			<strong>hasMeanGross</strong> provides an estimate of the gross for a store on <a href="http://www.etsy.com" rel="nofollow">Etsy</a> carrying this type of item in <em>November 2013</em>.
		</p>
		<h3 id="hasMeanViews"><a href="/ontology/hasMeanViews">hasMeanViews</a></h3>
		<p>
			<strong>hasMeanViews</strong> provides the mean observed over 30 or more listings drawn at random from <a href="http://www.etsy.com" rel="nofollow">Etsy</a> in <em>November 2013</em>.
		</p>
		<h3 id="hasVisibilityProbability"><a href="/ontology/hasVisibilityProbability">hasVisibilityProbability</a></h3>
		<p>
			<strong>hasVisibilityProbability</strong> gives an estimate as to the likelihood an item drawn at random from the category with the same name as this <em>Synset</em> would be seen.
		</p>
		<h3 id="hasVisibilityProportion"><a href="/ontology/hasVisibilityProportion">hasVisibilityProportion</a></h3>
		<p>
			<strong>hasVisibilityProportion</strong> gives the proportion of all views the category with the same name as this <em>Synset</em> has on <a href="http://www.etsy.com" rel="nofollow">Etsy</a> in <em>November 2013</em>.
		</p>
		<h3 id="hasAssociatedSynset"><a href="/ontology/hasAssociatedSynset">hasAssociatedSynset</a></h3>
		<p>
			<strong>hasAssociatedSynset</strong> gives <em>Synsets</em> related by their co-usage during listings of items on <a href="http://www.etsy.com" rel="nofollow">Etsy</a> in <em>November 2013</em>. While <em>Synsets</em> already have similarities and <em>hyponymOf</em> relationships, <em>associatedSynsets</em> are a statistical feature observed from listings, not a linguistic or ontological artifact.
		</p>
		<h2>
			<a href="/" class="btn btn-default btn-small">&larr; <%= t.back_to_product_search %></a>
		</h2>
	</div>
</article>